/* google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rock+Salt&display=swap");

/* reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:  #0D293F;
}

/* header */
header {
    background: #ffffff;
    padding: 0 1rem; 
    position: fixed; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 99;
}
header a {
    text-decoration: none;
    color: inherit;
}
h1  {
    font-family: 'Rock Salt', sans-serif;
    color: #061828;
    letter-spacing: 3px;
}
#menu {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 2px;
}
#menu> li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #0D293F;
}

/* navbar styles and toggle taken from code institute's Love Running walkthrough project */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    text-align: right;
}

/* navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}   
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}

/* main content */
main {
    flex: 1 0 auto;
    margin-top: 100px;
}
#hero {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    padding: 20px;
}
.invisible-title {
    display: none;
}
h2 {
    font-family: 'Rock Salt', sans-serif;
    font-size: 30px;
    color: #0D293F;
    letter-spacing: 3px;
    text-align: center;
    padding: 20px;
}
#about-img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    padding: 20px;
}
.about-txt {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
#video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
#video-box {
    padding: 20px;
}

/* gallery style */
#photos img {
    width: 100%;
}
#photos {
    line-height: 20px;
}

/*contact*/
#contact-h2 {
    background-color: #9fdfe1;
    text-align: center;
}
#form-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #0f768d;
    text-align: center;
    column-count: 2;
}
#form {
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
}
.input {
    color:#0d293f;
    font-size: 20px;
    font-family: 'Poppins';
}
select {
    color:#0d293f;
    font-size: 20px;  
}
#submit {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color:#9fdfe1 ;
    color: #0d293f;
}

/* footer */
footer {
    background-color: #ffffff;
    font-family: 'Rock Salt', sans-serif; 
    font-size: 70%;
    letter-spacing: 1px;
    text-align: center;
}
#socials i {
    font-size: 300%;
    color: #0d293f; 
}
#socials {    
    text-align: center;
    padding: 20px; 
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#copyright {
    font-size: 16px;
    padding-bottom: 20px;
}

/* Media query: tablets plus */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;   
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 2rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 250%;
        margin: 0 1rem;
    }
    #menu a:hover {
        background-color:#9fdfe1;
    }

    /* gallery style */
    /*#photos {
        column-count: 2;
        column-gap: 0;
    }*/
   
}

/* large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    
/* gallery style */
    #photos {
        column-count: 2;
        column-gap: 4px;
        padding: 10px;
}
}

